/* styles.css */

body{
    background-color: rgb(0, 0, 0);
    color: rgb(240, 0, 240);

}
h1 {
text-align: center;
}

section{
    font-size: 20px;
}

.accordion-item {
    border: 1px solid #aa00ff;
    margin-bottom: 10px;
    background-color: #4c007218;
    text-align: center;
}

.accordion-title {
    background-color: rgb(44, 0, 72);
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.accordion-content {
    display: none;
    padding: 10px;
}

img {
    max-width: 30%;
}

.voltar {
    background-color: black; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
    border-radius: 5px; /* Borda arredondada */
  }
  
  .voltar:hover {
    background-color: black /* Cor de fundo do botão ao passar o mouse */
  }
  
  .voltar::before {
    content: "\2190"; /* Adiciona uma seta esquerda como conteúdo antes do texto */
    margin-right: 5px; /* Espaço entre a seta e o texto */
  }

  @media screen and (max-width:1020px) {
    .accordion-item {
    width: 480px;
    text-align: center;
    }
    }
  
